// Override default variables before the import
$theme-colors: (
    "light": white,
    "danger": teal
);

.me-auto{
    display: flex;
    justify-content: space-around;
    margin-right: 0 !important;
    width: 100%;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url('./utils/image/pngfind1.png'), url('./utils/image/unnamed1.png'),
     url('./utils/image/pngfind2.png') , url('./utils/image/image19.png'), url('./utils/image/Clip-Art-Watercolor-PNG.png'), url('./utils/image/image21.png'), url('./utils/image/Pink-Watercolor-PNG.png') ;
    background-position: left 18.75rem, right 31.25rem, right 100rem, left 187.5rem, left 262.5rem, right 343.75rem , right 343.75rem;
    background-repeat: no-repeat;
    background-origin: content-box, border-box;
}

.contatos{
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;
}

.photo-principal img{
    width: 50%;
    box-shadow: 1.813rem 1.625rem #F2A1AB;
}

.icon-contato img{
    width: 1.875rem;
    margin-right: 1.25rem;
}


.photo-contatos img{
    width: 100%;
    box-shadow: 1.813rem 1.625rem #A3A1F2;
    margin-bottom: 100px;
}

.photo-sobre img{
    width: 50%;
}

.d-flex{
    display: flex;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-center{
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.ai-center{
    align-items: center;;
}

#tecnologias{
    margin-top: 7.5rem;
}

#tecnologias h3{
    margin-bottom: 5rem;
}

#projetos h3{
    margin-bottom: 5rem;
}

#midias h3{
    margin-bottom: 5rem;
}


#projetos{
    margin-top: 7.5rem;
}

#sobre{
    margin-top: 7.5rem;
}

#sobre h3{
    margin-bottom: 2.5rem;
}

#contato a{
    color: black;
    font-family: 'Roboto';
    text-decoration: none;
    margin: 1.875rem;
}

#midias{
    margin-top: 7.5rem;
}

.projetos h3{
    margin-bottom: 2.5rem;
}

#midias img{
    filter: contrast(50%);
}

.projetos img{
    filter: contrast(50%);
    width: 100%;
    cursor: pointer;
}

h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    line-height: 4.438rem;
    /* identical to box height */
    letter-spacing: 0.13em;
    margin-bottom: 2.5rem !important;
}

.tecnologias img{
    width: 1.875rem;
}

#midias img{
    cursor: pointer;
}

h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 100 !important;
    line-height: 4.438rem;
    /* identical to box height */
    letter-spacing: 0.13em;
    font-size: 1.25rem !important;
}

h3{
    text-align: center;
    font-size: 2.5rem !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    line-height: 4.438rem;
    /* identical to box height */
    letter-spacing: 0.13em;
}

p{
    font-size: 1.125rem;
    font-family: 'Open Sans';
    margin-top: 1.25rem !important;
}

.principal{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.carrosel-text{
    background-color: #F2A1AB !important;
    padding: 3.125rem;
    text-align: center;
}

.carrosel-img{
    padding: 0 !important;
}

.carrosel{
    border-radius: 1.563rem;
}

.carrosel-img img{
    width: 100%;
}

.carousel-item{
    max-height: 41.25rem !important;
}

.carrousel-text h3{
    text-shadow: 0.125rem 0.125rem 0.313rem white;
    background-color: #F2A1AB;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.carrousel-text p{
    text-shadow: 0.125rem 0.125rem 0.313rem white;
    background-color: #F2A1AB;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.btn{
    padding: 1.25rem 2.5rem !important;
    margin: 1.25rem !important;
    display: flex !important;
    align-items: center;
    justify-content: space-around;
}

.btn img{
    margin-right: 0.625rem;
}
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";
